[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rich = "==11.2.0"
python-dotenv = ">=0.19.2"
Flask = ">=2.0.3"
psycopg2 = ">=2.9.3"
requests = "*"
selectorlib = ">=0.16.0"
beautifulsoup4 = "*"
gunicorn = "==20.0.4" # For Heroku
flask-sqlalchemy = "<1.4.0"

[dev-packages]
coverage = "*"
pytest = "*"
mock = "*"
flake8 = "*"
autopep8 = "*"

[requires]
python_version = "3.8"
