[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rich = "==11.2.0"
python-dotenv = "*"
Flask = ">=2.0.3"
psycopg2 = "*"

[dev-packages]
coverage = "*"
pytest = "*"
mock = "*"
flake8 = "*"
autopep8 = "*"

[requires]
python_version = "3.8"
