rich
python-dotenv
Flask
psycopg2-binary
requests
selectorlib
beautifulsoup4
gunicorn # For Heroku
flask-sqlalchemy
mailjet_rest # Mail package API

# dev-packages
coverage
pytest
mock
flake8
autopep8