h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}

body {
	padding-top: 75px; /* Relleno superior igual a la altura de la cabecera*/
}

.message_status {
    color: red;
    font-weight: bold;
    text-align: center;
}